<div class="prev">
    {{#with cookie}}
        <div class="prev__cookie" style="background: {{#each addons}}url('/images/{{this}}.png'),{{/each}}url('/images/cookie-{{base}}.png') no-repeat;"></div>
    {{/with}}
</div>