//font
$main-font: 'Poppins', sans-serif;
$font-bold: 600;
$font-thin: 100;
$font-size-list: 24px;
$font-size-title: 28px;
$font-size-logo: 35px;

//color
$bg-color: #203843;
$color-white: #fff;
$color-gray: #bab7b7;
$color-black: #000;
$color-link: rgba(181, 201, 232,0.3);

