.container{
  max-width: 1400px;
  margin: auto;
}
.prev{
  margin-top: 50px;
  @include d-flex{
    justify-content: center;
  }
  &__cookie{
      width: 610px;
      height: 610px;
      background-position: center;
      background-size: cover;
  }
}
.selected{
  width: 100%;
  margin: 35px 0;
    @include d-flex{
    justify-content: space-between;
    flex-direction: column;
  }
  &__title{
    color: $color-white;
    font-size: $font-size-list;
  }
  &__wrapper{
    padding: 25px 0;
    text-align: center;
    width: 100%;

      @include d-flex{
          justify-content: center;
      }
    }
    &__cookie-link{
    background-color: $color-link;
      padding: 3px 10px;
      margin-top: 20px;
      margin-right: 25px;
      border-radius: 4px;
      color: $color-white;
   }
  }
.main{
   @include d-flex{
      justify-content: space-between;
    }
  .main__addon{
    @include d-flex{
      justify-content: space-between;
    }
    &-wrapper{
      @include d-flex{
        justify-content: space-between;
        flex-direction: column;
      }
    }
    &-link{
      @include d-flex{
        justify-content: center;
      }
      margin-top: 20px;
      width: 200px;
      height: 43px;
      background-color: $color-link;
      border-radius: 6px;
      color: $color-white;
    }
  }
}
.cookie {
  &__title {
    font-size: $font-size-title;
    color: $color-white;
    margin-bottom: 10px;
  }
  &__list {
    @include d-flex{
      align-items: flex-start;
      flex-direction: column;
    }
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    margin-bottom: 5px;
    &--base {
      font-weight: bold;
      color: $color-white;
    }
    &--addon {
      color: white;
     }
  }
  &__total-price{
    color: $color-btn;
  }
 }

