.container{
  max-width: 1400px;
  margin: auto;
}
.prev{
  margin-top: 50px;
  @include d-flex{
    justify-content: center;
  }
  &__cookie{
      width: 610px;
      height: 610px;
      background-position: center;
      background-size: cover;
  }

}
.selected{
  width: 100%;
  margin: 20px 0;
  @include d-flex{
    justify-content: center;
    flex-direction: column;
  }
  &__title{
    color: $color-white;
    font-family: $main-font;
    font-size: $font-size-list;
  }
  &__wrapper{
    padding: 10px 0;
    @include d-flex {
      flex-direction: column;
      justify-content: center;
      }
    }
    &__cookie-link{
    background-color: $color-link;
      padding: 3px 10px;
      border-radius: 4px;
      color: $color-white;
      font-family: $main-font;
   }
  }
.main{
   @include d-flex{
      justify-content: space-between;
    }
  .main__addon{
    &-wrapper{
      margin: 0;
      padding: 0;
    }
    &-item{
      @include d-flex{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
      }
    }
    &-link{
      padding: 4px 10px;
      background-color: $color-link;
      color: $color-white;
      font-family: $main-font;
    }
  }
}
