.btn{
  padding: 10px 30px;

  &__base{
    background-color: $color-btn;;
    color: $color-white;
    margin: 10px;
  }

  &__addons{
    @include d-flex{
      justify-content: center;
    }
    padding: 0;
    width: 250px;
    height: 45px;
    border-radius: 13px;
    margin-top: 20px;
    color: $color-white;
    border: 3px solid $color-btn;
    transition: 0.2s background-color ease-in-out;

    &:hover{
      background-color: $color-btn;
    }
  }
  &__order{
    display: inline-block;
    margin-top: 10px;
    background-color: $color-btn;
    text-align: center;
    color: $color-white;
  }
  &__delete{
    color: $color-red;
  }
  &__go-home{
    @include d-flex{
      justify-content: center;
    }
    color: $color-red;

    .bx{
      font-size: $font-size-list;
    }
  }
}